{
  "env": {
    "browser": true,
    "node": true,
  },
  "rules": {
    "curly": 2,
    "dot-notation": 0,
    "eol-last": 0,
    "eqeqeq": 0,
    "new-cap": 0,
    "no-comma-dangle": 2,
    "no-extra-semi": 1,
    "no-undef": 0,
    "no-unused-vars": 0,
    "semi": 1,
    "quotes": [
      2,
      "double"
    ]
  },
  "settings": {
    "ecmascript": 6,
    "jsx": true
  }
}

